@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;900&family=Raleway:wght@100;300;400;500;600;700;900&display=swap');

*,
*::before,
*::after    {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    color: #111111;   
    font-family: 'Inter', sans-serif;
}



a{
    text-decoration: none;
    font-size: 2em;
    font-family: inherit;
    color: inherit;
}

header,
footer {
    background-color: rgb(70, 70, 70);
    position: inherit;
    width: auto;
    color: white;
    font-family: 'Raleway', sans-serif;
}

ul, ol  {
    list-style-type: none;
}

.banner{
    width: 1200px;
    height: 400px;
    object-fit: cover;
}
p{
    font-size: 1.8em;
}

botonera {
    position: absolute;
    align-content: center;
    right: 0px;
    width: 0px;
    padding: 10px;
}

.container{
    max-width: 1200px;
    margin: 0,auto;
}