/* SLIDER */

.slider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-36);
    margin: var(--spacing-68) auto;
}

.slider__title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    text-transform: uppercase;
    gap: var(--spacing-24);
}

.slider__items {
    display: flex;

};

iconify-icon {
    color:  var(--dark-bg-solid);
    font-size: var(--font-small);
    font-weight: 700;
}


.glide__arrow--left {
    color: var(--dark-bg-solid);
    left: 0;
}

.glide__arrow--right {
    color: var(--dark-bg-solid);
    right: 0;
}