/* ITEMS */

.item__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--spacing-24);
    padding: var(--spacing-12);
}

.item__licence {
    font-family: var(--base-font);
    font-size: var(--font-small);
    font-weight: 500;
}

.item__name {
    font-family: var(--base-font);
    font-size: var(--font-jumbo);
    font-weight: 700;
}

.item__text {
    font-family: var(--base-font);
    font-size: var(--font-large);
    font-weight: 400;
}

.item__price {
    font-family: var(--base-font);
    font-size: var(--font-jumbo);
    font-weight: 400;
}

.item__add {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-12);
    align-items: center;
}

#quantity .item__input {
    font-family: var(--base-font);
    font-size: var(--font-large);
    color: var(--lightgrey-bg-solid);
    border: 1px solid var(--dark-bg-solid);
    padding: var(--spacing-16);
    margin: var(--spacing-12);
    border-radius: 2px;
    max-width: 70px;
    text-align: center;


}

.item__quantity {
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    border: none;
    cursor: pointer;
}

.item__link {
    display: flex;
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 700;
    font-family: var(--base-font);
    gap: var(--spacing-8);
}

.item__payments {
    text-decoration: underline;
}

.item__btn {
    font-family: var(--base-font);
    color: var(--light-font-solid);
    font-size: var(--font-large);
    font-weight: 400;
    background-color: var(--primary-solid); 
    border: none;
    padding: var(--spacing-20) var(--spacing-24);
    text-align: center;
}