<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FunkoShop</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>  <!--Inicio de header-->
        <nav class="navbar container">
            <picture class="navbar__logo">
                <a href="../public/index.html">
                    <img src="../image/branding/logo_light_horizontal.svg" alt="Logo de la marca FunkoShop horizontal">
                </a>
            </picture>
            <ul class="navbar__menu">
                <li class="navbar__item with-submenu">
                    <a class="navbar__link with-icon" href="../public/pages/shop/shop.html">SHOP <iconify-icon icon="majesticons:chevron-down"></iconify-icon></i></a>
                    <ul class="submenu">
                        <li class="submenu__item">
                            <a href="" class="submenu__link">Funko</a>
                        </li>
                        <li class="submenu__item">
                            <a href="" class="submenu__link">Remeras</a>
                        </li>
                        <li class="submenu__item">
                            <a href="" class="submenu__link">Llaveros</a>
                        </li>
                        <li class="submenu__item">
                            <a href="../FunkoShop/pages/admin/create.html" class="submenu__link">Create</a>
                        </li>
                        <li class="submenu__item">
                            <a href="../FunkoShop/pages/admin/edit.html" class="submenu__link">Edit</a>
                        </li>
                        <li class="submenu__item">
                            <a href="../FunkoShop/pages/admin/register.html" class="submenu__link">Register</a>
                        </li>
                    </ul>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="./pages/shop/contacto.html">CONTACTO</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" href="./pages/admin/login.html>Login">LOGIN</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__cart" href="./pages/shop/cart.html">
                    <img src="./image/icons/cart-icon.svg" alt="icono de carrito"></a>
                </li>
            </ul>
        </nav>
    </header> <!--Fin de header-->